#aboutNav {
	position: fixed;
}

#li {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	top: 0;
}

.sidePic {
	height: 100vh;
}

#about {
	padding: 3vw;
}

#poop > img {
	height: 100vh;
}

p {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
}

a {
	background-color: #F4AFA8;
	text-decoration-line: none;
	padding: 10px;
}