body {
	overflow-x: hidden;
}

#li {
	position: relative;
	width: 260vw;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	transition: 0.8s ease-in-out;
}

.center {
	transform: translateX(-80vw);
}

.left {
	transform: translateX(0vw);
}

.right {
	transform: translateX(-160vw);
}

#about {
	width: 60vw;
	height: 100vh;
	padding: 0 3vw;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.sidePic {
	position: relative;
	transition: inherit;
}

.sidePic > img {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

.sidePic > button {
	position: absolute;
	bottom: 10%;
	border: none;
	background-color: var(--llpink);
	color: var(--llgrey);
	font-size: 1.5vw;
	transition: inherit;
	z-index: 1;
}

#bettyButton, #bettyButt {
	right: 5vw;
}

#benButton, #benButt {
	left: 5vw;
}

.hidden {
	opacity: 0;
	z-index: 0;
}

#poop {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

#poop > img {
	height: 100vh;
}

p {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	text-align: justify;
}