.postHead > h2 {
	margin: 0;
	padding: 0;
}

#aboutNav {
	position: fixed;
}

#headerImg {
	height: 80vh;
	width: 100%;
	background-image: url("0.jpg");
	background-size: cover;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#blog {
	position: relative;
	width: 100vw;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: stretch;
}

#posts {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 80%;
    background-color: white;
}

#nav {
	background-color: var(--llpink);
	padding-top: 6rem;
	width: 20%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

.post {
	flex-flow: column nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75%;
	padding: 1rem;
	margin: 2rem;
}

.post span {
	vertical-align: 0.1em;
}

.postHead {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.blogImg {
	width: 100%;
	margin: 2vh;
}

.post > a {
	color: var(--llgrey);
	background-color: var(--llpink);
	font-family: 'Lato', 'Verdana', sans-serif;
	padding: 5px;
	font-size: 18px;
    font-weight: 300;
}

.smallPicture {
	width: 14vw;
}

p {
	font-size: 18px;
}

#nav > p {
	color: white;
	font-size: 1.5rem;
}

.icons {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.icons img {
	width: 3vw;
	margin: 5px;
}

.icons > a {
	margin: 0;
	padding: 0;
}