.postHead > h2 {
	margin: 0;
	padding: 0;
}

#headerImg {
	height: 80vh;
	width: 100%;
	background-image: url("0.jpg");
	background-size: cover;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
}

#headerImg > h2{
	position: relative;
	left: 10rem;
}

#blog {
	position: relative;
	width: 100vw;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: stretch;
}

#posts {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 80%;
    background-color: white;
    margin: 1rem;
}

#sidebar {
	background-color: #fde2e1;
	padding-top: 1rem;
	width: 20%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

.small-picture {
	width: 16vw;
	margin: 1rem;
}


.post {
	flex-flow: column nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75%;
	margin: 1rem;
}

.postHead {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.blogImg {
	width: 100%;
	margin: 2vh;
}

.flexBoxColCenter {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	position: relative;
}

.textOverImg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.textOverImg p {
	margin: 0;
	padding: 0.5vw;
	font-size: 1.2vw;
	background-color: white;
}

p {
	font-size: 1.2rem;
}

h2 {
	margin: 1rem;
}

#sidebar > p {
	color: var(--llgrey);
	font-size: 1.8vw;
}

.icons {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.icons img {
	width: 3vw;
	margin: 5px;
}

.icons > a {
	margin: 0;
	padding: 0;
}