html {
	height: 100vh;
}

body {
	min-height: 100vh;
	font-family: 'Quicksand', 'Verdana', sans-serif;
	font-size: 24px;
    color: var(--llgrey);
}

h2 {
	margin: 0;
	padding: 2vh;
	color: var(--llpink);
	background-color: white;
	font-weight: bold;
}

h4 {
	font-family: 'Clicker Script', 'Brush Script MT', cursive;
	color: white;
	font-size: 5vw;
	text-align: center;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

a {
	color: var(--llgrey);
}

.flexBoxColCenter {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.flexBoxRowCenter {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.flexBoxRowEven {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
}

#headerImg {
	height: 100vh;
	width: 100%;
	background-image: url("wedding.jpg");
	background-size: cover;
}

.downButton {
	position: absolute;
	right: 0;
	bottom: 5%;
	left: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.downButtonImg, .downButton img {
	width: 50px;
}

#welcome {
	height: 100vh;
	width: 100%;
}

#welcome > div {
	position: relative;
	height: 100vh;
	width: 40%;
}

.welcomeText {
	margin: 1.5vh 0;
	text-align: justify;
}

#fourPictures > div {
	width: 100%;
}

.smallPicture {
	width: 14vw;
}

.largePicture {
	width: 20vw;
}

.parallax {
	height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}

#section {
	background-image: url("engagement.jpg");
	text-align: center;
}

#section > p {
	position: absolute;
	left: 30%;
	right: 5%;
	top: 10%;
	font-size: 3vw;
}

#portfolio {
	height: 100vh;
	position: relative;
}

.centerAboveDownButton {
	height: 90vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center; 
}

#portfolioText {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: baseline;
}

#portfolioText > p {
	margin-right: 1rem;
}

#parallax {
	background-image: url("1.jpg");
	text-align: center;
}

.imgLink {
	position: relative;
	margin: 1.2vw;
}

#portfolio .imgLink {
	margin: 0 3.2vw;
}

.textOverImg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.textOverImg p {
	margin: 0;
	padding: 0.5vw;
	font-size: 1.25vw;
	background-color: white;
}

.textOverImg p:hover {
	color: var(--llpink);
}

#portfolio .textOverImg p {
	padding: .8vw;
	font-size: 2vw;
}

#contactPage {
	position: relative;
	height: 100vh;
	background-color: var(--llpink);
}

#contactForm > div {
	width: 30vw;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

#contactForm > div > input {
	width: 14.6vw;
	padding: 0.5vw;
	border: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
}

#contactForm > input {
	width: 30vw;
	margin-top: 0.8vw;
	padding: 0.5vw;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
}

#contactForm > input[type="text"] {
	border: none;
}

#contactForm > textarea {
	width: 30vw;
	margin-top: 0.8vw;
	padding: 0.5vw;
	border: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
}

#contactForm > input[type="submit"] {
	opacity: transparent;
	background: transparent;
	border: thick solid white;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0.5vw;
	color: var(--llpink);
	background-color: var(--llgrey);
	font-size: 12px;
}