html {
	height: 100vh;
}

body {
	min-height: 100vh;
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
    color: #3E3E3E;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 80px;
    text-align: center;
    font-family: 'Clicker Script', cursive;
    color: #F4AFA8;
}

h2 {
	margin: 0;
	padding: 2vh;
	color: #F4AFA8;
	background-color: white;
}

h4 {
	font-family: 'Clicker Script', cursive;
	color: white;
	font-size: 5vw;
	text-align: center;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

a {
	color: black;
}

.flexBoxColCenter {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.flexBoxRowCenter {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.flexBoxRowEven {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
}

#headerImg {
	height: 100vh;
	width: 100%;
	background-image: url("wedding.jpg");
	background-size: cover;
}

.downButton {
	position: absolute;
	right: 0;
	bottom: 5%;
	left: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.downButtonImg {
	width: 50px;
}

#welcome {
	height: 100vh;
	width: 100%;
}

#welcome > div {
	height: 100vh;
	width: 40%;
}

.welcomeText {
	margin: 1.5vh 0;
}

#fourPictures > div {
	width: 100%;
}

.smallPicture {
	width: 14vw;
	margin: 1.2vw;
}

.largePicture {
	width: 20vw;
	margin: 2vw;
}

.textOverImg > h3 {
	margin: 0;
	padding: .8vw;
	font-size: 2vw;
	background-color: white;
}

.parallax {
	height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}

#section {
	background-image: url("engagement.jpg");
	text-align: center;
}

#section > p {
	position: absolute;
	left: 30%;
	right: 5%;
	top: 10%;
	font-size: 3vw;
}

#portfolio {
	height: 100vh;
	text-align: center;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

#portfolio > p {
	font-size: 2.5vw;
}

#portfolioText {
	display: flex;
	align-items: center;
}

#portfolio > h1 {
	font-size: 6vw;
}

#parallax {
	background-image: url("1.jpg");
	text-align: center;
}

.imgDiv {
	position: relative;
}

.textOverImg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.textOverImg > p {
	margin: 0;
	padding: 0.5vw;
	font-size: 1.25vw;
	background-color: white;
}

#contactPage {
	position: relative;
	height: 100vh;
	background-color: #F4AFA8;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

#contactForm > div {
	width: 30vw;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

#contactForm > div > input {
	width: 14.6vw;
	padding: 0.5vw;
	border: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
}

#contactForm > input {
	width: 30vw;
	margin-top: 0.8vw;
	padding: 0.5vw;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
}

#contactForm > input[type="text"] {
	border: none;
}

#contactForm > textarea {
	width: 30vw;
	margin-top: 0.8vw;
	padding: 0.5vw;
	border: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
}

#contactForm > input[type="submit"] {
	opacity: transparent;
	background: transparent;
	border: thick solid white;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0.5vw;
	color: #F4AFA8;
	background-color: #3E3E3E;
	font-size: 12px;
}