.moreButton {
	color: var(--llgrey);
	background-color: var(--llpink);
	font-family: 'Lato', 'Verdana', sans-serif;
	padding: 5px;
	font-size: 18px;
    font-weight: 300;
}

.moreButton > span {
	vertical-align: 0.1em;
}