#menu {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	width: 100%;
	transition: 0.45s ease-out;
	z-index: 1;
}

#menuButton {
	position: absolute;
	top: 1.5rem;
	right: 2.1rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
	transition: inherit;
	z-index: 1;
}

#menuButton > div {
	width: 2.1rem;
	height: 0.3rem;
	background-color: var(--llgrey);
	transition: inherit;
}

#bar1 {
	margin: 0.3rem 0;
}

.transform #bar0 {
	transform: rotate(-45deg) translate(-0.5rem, 0.35rem);
}

.transform #bar1 {
	opacity: 0;
}

.transform #bar2 {
	transform: rotate(45deg) translate(-0.5rem, -0.35rem);
}

#menuContent {
	position: absolute;
	top: 0;
	right: 0;
	background-color: white;
	opacity: 0;
	visibility: hidden;
	transition: inherit;
	width: 16rem;
	height: 100vh;
}

.transform #menuContent {
	opacity: 1;
	visibility: visible;
}

#menuLinks {
	position: relative;
	margin: 4.5rem 2.1rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

#menuLinks > p {
	font-size: 1.5rem;
}

#menuLinks > a {
	margin-top: 1rem;
	padding: 0;
	font-size: 2rem;
	font-weight: 300;
	color: var(--llgrey);
	background: transparent;
}

#menuLinks > a:hover {
	color: var(--llpink);
}

#menuLinks > div {
	height: .2rem;
	width: 5rem;
	background-color: var(--llpink);
}

#menuicons {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	margin: 2rem;
}

#menuicons img {
	width: 3rem;
}

#menuicons > a {
	text-decoration: none;
}