nav {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	width: 100%;
	font-family: 'Lato', 'Verdana', sans-serif;
	font-weight: 300;
	transition: all 0.45s ease-out;
	z-index: 1;
}

#nav-button {
	position: absolute;
	top: 1.5rem;
	right: 2.1rem;
	transition: inherit;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

#nav-button > button {
	padding: 0;
	background: transparent;
	border: none;
	font-family: inherit;
	font-weight: inherit;
	transition: inherit;
}

#nav-button-text {
	margin: 0;
	font-size: 1.5rem;
	color: var(--llgrey);
}

#nav-button-icon {
	margin: 0 0 0 0.5rem;
	font-size: 2rem;
	color: var(--llpink);
	font-weight: 500;
}

.transform #nav-button-text {
	opacity: 0;
	visibility: hidden;
}

.transform #nav-button-icon {
	transform: rotate(45deg);
}

#nav-content {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	background-color: white;
	opacity: 0;
	visibility: hidden;
	width: 16rem;
	height: 100vh;
	padding-top: 2rem;
	transition: inherit;
}

.transform #nav-content {
	opacity: 1;
	visibility: visible;
}

#nav-links {
	width: 100%;
	padding: 4.5rem 2.1rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	color: var(--llgrey);
}

#nav-links > p {
	font-size: 1.5rem;
}

#nav-links > div {
	width: 5rem;
	height: .2rem;
	background-color: var(--llpink);
}

#nav-links > a {
	margin-top: 1rem;
	padding: 0;
	font-size: 2rem;
	color: inherit;
}

#nav-links > a:hover {
	color: var(--llpink);
}

#nav-icons {
	width: 80%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
}

#nav-icons img {
	width: 3rem;
}