body {
	position: relative;
}

#carousel {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}

#carousel > img {
	height: 100vh;
	transition: transform 0.8s ease-in-out;
}

#left-arrow {
	position: absolute;
	bottom: 5%;
	left: 25%;
	font-size: 5vw;
}

#right-arrow {
	position: absolute;
	bottom: 5%;
	right: 25%;
	font-size: 5vw;
}