.portfolio-view {
	overflow: hidden;
}

.portfolio-link {
	position: relative;
	margin: 0 3.2vw;
	border: none;
	background: none;
	font-weight: 300;
	font-family: 'Lato', 'Verdana', sans-serif;
}

li-portfolio {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100vh;
	background-color: var(--llgrey);
	transition: opacity 0.8s ease;
	z-index: -1;
	opacity: 0;
}

.carousel {
	height: inherit;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.carousel > img {
	height: inherit;
	object-fit: cover;
	transition: transform 0.8s ease;
}

.portfolio-x-button {
	position: absolute;
	top: 2.5vh;
	right: 2.5vh;
	transform: rotate(45deg);
}

.portfolio-left-arrow-div {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 2.5vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.portfolio-right-arrow-div {
	position: absolute;
	top: 0;
	right: 2.5vh;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.portfolio-button {
	width: 3.5rem;
	height: 3.5rem;
	z-index: 1;
	border: none;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	font-family: 'Lato', 'Verdana', sans-serif;
	color: var(--llgrey);
	
}

.portfolio-x-button > span {
	line-height: 0;
	font-size: 4rem;
	vertical-align: -1.1rem;
}

.portfolio-arrow {
	line-height: 0;
	font-size: 5rem;
	vertical-align: -1rem;
}

.portfolio-left-arrow-div .portfolio-arrow {
	position: relative;
	right: .25rem;
}

.portfolio-right-arrow-div .portfolio-arrow {
	position: relative;
	left: .25rem;
}

.portfolio-button > span:hover {
	color: var(--llpink);
}