:root {
  --llgrey: #3E3E3E;
  --llpink: #F4AFA8;
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html, body {
	margin: 0;
	padding: 0;
}

img {
	display: block;
}

button, input, textarea {
    outline: none;
}

button, input[type="submit"] {
	cursor: pointer;
}